---
interface Props {
  url:string;
  icon:string;
}

const { url, icon } = Astro.props as Props
---

<a href={url}>
  <img class="w-6" src={icon} alt="" />
</a>

<style>
  a {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  a:hover{
    transform: scale(1.1);
  }
</style>