<nav class="fixed w-full flex justify-end sm:justify-center items-center bg-slate-500 p-4 h-16">
  <ul class="hidden sm:flex flex-row gap-x-16 md:gap-x-24 xl:gap-x-36 text-xl text-white font-semibold">
    <li>Inicio</li>
    <li>Proyectos</li>
    <li>Habilidades</li>
    <li>Contacto</li>
  </ul>
  <button class="text-white inline sm:hidden mr-4">Click</button>

  <div class="fixed hidden flex-col gap-y-6 p-5 top-0 bottom-0 right-0 w-72 bg-slate-800">

    <div class="w-full flex justify-end">
      <button class="text-white">Click</button>
    </div>

    <ul class="text-white font-semibold text-xl flex flex-col gap-y-5 items-center">
      <li>Inicio</li>
      <li>Proyectos</li>
      <li>Habilidades</li>
      <li>Contacto</li>
    </ul>

  </div>
</nav>