<section>
  <div class="flex flex-col-reverse md:flex-row gap-y-5 gap-x-6 items-center h-96">
    <div class="text-white text-3xl md:text-2xl lg:text-3xl font-semibold text-center md:text-end font-LexendDeca">
    <span class="whitespace-nowrap">Hola, Soy Rubén Nicolás Morales</span>, <br>Desarrollador fullstack
    </div>
    <div>
      <img class="border-none w-56 md:w-52 lg:w-60 xl:w-72 rounded-full aspect-square overflow-hidden object-cover" src="runimo94.png" alt="runimo94 imagen">
    </div>
  </div>
</section>