---
import IconTech from "./IconTech.astro";

interface Props {
  skill: {
    id: string;
    skillName: string;
    text: string;
    techIcons: string[];
  };
}

const { skill } = Astro.props as Props;
---

<div
  id={skill.id}
  class="skill-card hidden flex-col justify-around gap-y-5 w-full h-96 bg-slate-800 p-10 rounded-3xl"
>
  <h1 class="text-white text-3xl font-LexendDeca">
    {skill.skillName}
  </h1>
  <p class="text-white text-start">
    {skill.text}
  </p>
  <div class="flex items-center justify-center gap-x-6">
    {
      skill.techIcons.map((tech) => {
        return <IconTech classes="w-12" tech={tech} />;
      })
    }
  </div>
</div>
