---
import HeaderText from "../Shared/HeaderText.astro";
import { dataAboutMe } from "../../config/config";
---

<section id="SobreMi" class="aboutme-reveal flex flex-col gap-y-10 w-full">
  <div class="flex flex-col px-5 md:px-0 gap-y-2">
    <HeaderText text={dataAboutMe.headerText}/>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center gap-10">
    <div class="flex flex-col items-center gap-y-2">
      <img
        class="border-none w-56 md:w-52 lg:w-60 xl:w-72 rounded-full aspect-square overflow-hidden object-cover"
        src={dataAboutMe.image}
        alt="runimo94 imagen"
      />
      <p class="hidden md:inline italic text-[10px] w-60 text-white font-Rubik">
        {dataAboutMe.subtext}
      </p>
    </div>

    <p
      class="text-white font-Rubik w-72 md:w-[24rem] lg:w-[32rem] xl:w-[50rem] 2xl:w-[60rem] text-lg lg:text-xl xl:text-3xl"
    >
      {dataAboutMe.text}
    </p>
  </div>
</section>
