<!DOCTYPE html>
<html lang="es" class="scroll-smooth" style="scroll-padding-top: 100px;">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&family=Lexend+Deca"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/all.css" />
    <style>
      * {
        scrollbar-width: thin;
        scrollbar-color: #3a3a3b #1f1f1f;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
      }
      *::-webkit-scrollbar {
        width: 10px;
        background-color: #1f1f1f;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #3a3a3b;
        border-radius: 20px;
      }

      body {
        background-color: #111827;
      }
    </style>
    <title>Runimo94</title>
  </head>
  <body class="bg-background_content md:bg-background_content bg-cover">
    <slot />
  </body>
  <script src="../utils/scrollReveal.js"></script>
  <script>
    import hacktext from "../utils/hacktextEffect";
    hacktext();
  </script>
</html>
